{% extends "./Project_detail/base.html" %}
{% block title %}在线表格数据分析系统{% endblock %}
{% block workspace_name %}在线表格分析台{% endblock %}

{% block data_table_active %}{% endblock %}
{% block data_analysis_active %}active{% endblock %}
{% block data_reporting_active %}{% endblock %}
{% block data_ana_link %}/data/projects/{{ project_id }}/data_ana_view{% endblock %}

{% block page_title %}数据分析{% endblock %}
{% block project_name %}项目{{ project_id }}{% endblock %}
{% block project_title %}在线表格数据分析系统{% endblock %}
{% block project_description %}创建分析模型并分析数据结论{% endblock %}